@import '~styles/scss';

.home {
  @include sq-dimen(100%);

  @media (max-width: $break-point) {
    display: none;
  }
}

.home-header {
  @include header();
}

.home-content {
  @include flex(center, center, $flex-direction: column);
  @include dimen(100%, calc(100% - #{$header-height}));
  @include padding-y(10%);
  text-align: center;
}

.home-title {
  @include ink-painting;
  font-size: 70px;
  line-height: 1em;
}

.github {
  font-size: 30px;
  margin-top: 50px;
  &:hover {
    color: inherit;
  }
}
