@import './mixins/animation';
@import './mixins/background';
@import './mixins/border';
@import './mixins/flex';
@import './mixins/position';
@import './mixins/size';
@import './mixins/textOverflow';
@import './mixins/font';

@mixin header() {
  @include dimen(100%, $header-height);
  @include flex(center, center);
  @include padding-x(15px);
  border-bottom: $divider;
}

@mixin header-title() {
  flex: 1 1 auto;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
}

@mixin scrollbar {
  ::-webkit-scrollbar {
    width: 0.8rem;
  }

  ::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: rgba(128, 128, 128, 0.4);
    border: 2px solid transparent;
    border-radius: 0.8rem;
    box-shadow: inset -1px -1px 0 rgba(0, 0, 0, 0.05),
      inset 1px 1px 0 rgba(0, 0, 0, 0.05);
  }
}
