$header-height: 50px;

$break-point: 768px;

$divider: 1px solid var(--divider-color);

@function get-color($color, $tone: primary) {
  @return map-get(map-get($accent-colors, $color), $tone);
}

$base-colors: (
  red: #ef5350,
  blue: #4285f4,
  amber: #fb0,
  green: #66bb6a,
  purple: #ab47bc,
  grey: #bdbdbd
);

$accent-colors: ();

@each $name, $color in $base-colors {
  $accent-colors: map-merge(
    $accent-colors,
    (
      $name: (
        primary: $color,
        light: lighten($color, 30%),
        dark: darken($color, 5%)
      )
    )
  );
}
