.game-list {
  @include sq-dimen(100%);
  @include flex($flex-direction: column);
  max-width: 320px;
  border-right: $divider;
  flex: 0 0 auto;
}

.game-list-header {
  @include header();
  flex: 0 0 auto;

  .header-title {
    text-align: center;
  }
}

.game-list-content {
  overflow: auto;
}

.game-list-item {
  @include flex();
  @include fake-border(
    $position: bottom,
    $dividerWidth: 1px,
    $color: var(--divider-color),
    $width: 90%
  );
  padding: 20px;

  &:hover {
    background: none;
    background-color: var(--hover-color);
    color: inherit;
    text-decoration: none;
  }

  &.active {
    background-color: var(--active-color);
  }

  .game-icon {
    width: 60px;

    .game-icon-fallback {
      @include sq-dimen(100%);
      background-color: #fff;
      border: 1px solid var(--shadow-color);
    }

    img {
      width: 100%;
      margin: auto;
    }
  }

  .game-list-item-content {
    @include margin-x(15px);
    flex: 1 1 auto;
    font-size: 16px;
  }

  .game-name {
    font-weight: bold;
    line-height: 1.765em;

    ~ * {
      color: var(--text-light-color);
      font-size: 0.85em;
      margin-top: 5px;
    }
  }
}
