.match {
  @include dimen(100%);
  @include flex($flex-direction: column);
  overflow: hidden;

  .bgio-client {
    @include sq-dimen(100%);
  }
}

.match-header {
  @include header();
  flex: 0 0 auto;
}

.match-content {
  @include sq-dimen(100%);
  flex: 1 1 auto;
}
