.match {
  @include dimen(100%);
  @include flex($flex-direction: column);
  overflow: hidden;
}

.match-header {
  @include header();
  flex: 0 0 auto;

  .header-title {
    text-align-last: center;
  }
}

.match-content {
  @include sq-dimen(100%);
  flex: 1 1 auto;

  &.multi {
    .bgio-client {
      @include sq-dimen(100%);
    }
  }

  > .loading {
    @include sq-dimen(100%);
    @include flex(center, center);
    @include ink-painting;
    font-size: 40px;
  }
}
