.home {
  @include flex();
  @include sq-dimen(100%);
  max-width: 1280px;
  margin: auto;
  border-left: $divider;
  border-right: $divider;

  .row {
    display: table-row;
    height: 2em;
    > div {
      display: table-cell;
      padding-right: 10px;
    }
    select {
      @include dimen(100%);
    }
  }
}

.intro {
  @include sq-dimen(100%);

  .intro-header {
    @include header();
  }

  .intro-content {
    @include flex(center, center, $flex-direction: column);
    @include dimen(100%, calc(100% - #{$header-height}));
    @include padding-y(10%);
    text-align: center;

    .intro-title {
      @include ink-painting;
      font-size: 70px;
      line-height: 1em;
    }

    .github {
      font-size: 30px;
      margin-top: 50px;
      &:hover {
        color: inherit;
      }
    }
  }
}
