.matches {
  @include sq-dimen(100%);
}

.matches-header {
  @include header();
}

.matches-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.match-item-name {
  font-size: 16px;
  font-weight: bold;
}

.match-item-footer {
  @include flex(center, flex-end);
  margin-top: 20px;

  @include fake-border(
    $position: bottom,
    $dividerWidth: 1px,
    $color: var(--divider-color),
    $width: 90%
  );
}
