@import '~styles/scss';

.spectator {
  @include dimen(100%);
  @include flex($flex-direction: column);
  overflow: hidden;
}

.spectator-header {
  @include header;
  flex: 0 0 auto;
}

.spectator-header-title {
  @include header-title;
  text-align-last: center;
}

.player-ready {
  @include sq-dimen(100%);
  @include flex(center, center, column);

  table {
    border: 1px solid var(--text-color);
  }

  th,
  td {
    min-width: 200px;
    text-align: center !important;
  }
}

.player-ready-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.canceled {
  @include sq-dimen(100%);
  @include flex(center, center, column);
}

.canceled-text {
  @include ink-painting;
}
