@import '~normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';
@import '~emoji-mart/css/emoji-mart.css';
@import './scss/index';
@import './blueprint';

:root {
  --main-color: #fff;
  --main-diff1-color: #f6f6f6;
  --accent-color: #{get-color(blue)};
  --accent-light-color: #{get-color(blue, light)};
  --accent-dark-color: #{get-color(blue, dark)};
  --text-color: #202124;
  --text-light-color: #999;
  --icon-color: #{lighten(#000, 30%)};
  --divider-color: #e0e0e0;
  --hover-color: rgba(0, 0, 0, 0.04);
  --active-color: rgba(0, 0, 0, 0.08);
  --shadow-color: #ccc;
  --placeholder-color: #e0e0e0;
}

[data-theme^='dark'] {
  --main-color: #222;
  --main-diff1-color: #{lighten(#222, 5%)};
  --accent-color: #{get-color(amber)};
  --accent-light-color: #{get-color(amber, light)};
  --accent-dark-color: #{get-color(amber, dark)};
  --text-color: #dfdedb;
  --text-light-color: #a09c97;
  --icon-color: #{darken(#dfdedb, 30%)};
  --divider-color: #313030;
  --hover-color: #393939;
  --active-color: #393939;
  --shadow-color: #191919;
  --placeholder-color: #888;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  overflow: auto;
  overscroll-behavior: none;
}

html,
body,
#__next {
  height: 100%;
  min-height: 100%;
}

body {
  background-color: var(--main-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-size: $pt-font-size;
  font-family: 'Muli', #{$pt-font-family};
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  vertical-align: middle;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

.layout {
  @include sq-dimen(100%);
  @include flex($flex-direction: row-reverse);
  margin: auto;
  border-left: $divider;
  border-right: $divider;
}

[data-screen-width^='limited'] {
  .layout {
    max-width: 1280px;
  }
}

[data-platform^='win'],
[data-platform^='linux'] {
  body {
    @include scrollbar();
  }
}
