@import '~@boardgame/scss/index.scss';
@import '~@blueprintjs/core/lib/scss/variables';
@import './font';
@import './form';
@import './blueprint';

@mixin header() {
  @include dimen(100%, $header-height);
  @include flex(center, center);
  @include padding-x(15px);
  border-bottom: $divider;

  .header-title {
    flex: 1 1 auto;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
  }
}
