*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

html,
body,
#root,
#root > .bgio-client {
  height: 100%;
}

body {
  background-color: var(--main-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-size: $pt-font-size;
  font-family: 'Muli', #{$pt-font-family};
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: inherit;
}
