@import '../../styles/scss/index';

.lobby {
  @include dimen(100%);
  @include flex($flex-direction: column);
}

.lobby-header {
  @include header;
  flex: 0 0 auto;
}

.lobby-header-header-title {
  @include header-title;
  text-align: center;
}

$gap: 20px;

.lobby-content {
  display: grid;
  align-content: start;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-column-gap: 20px;
  flex: 1 1 auto;
  overflow: auto;
  padding: 20px;
}

$padding: 12.5px;

.lobby-item {
  @include flex($flex-direction: column);
  @include padding-y($padding);
  @include padding-x(20px);
  margin-bottom: $gap;
}

.lobby-item-header {
  @include flex(center, space-between);

  .lobby-item-name {
    font-weight: bold;
    font-size: 16px;
  }
}

.lobby-item-description {
  color: var(--text-light-color);
  flex: 1 1 auto;
  margin-top: 5px;
  word-break: break-all;
}

.lobby-item-footer {
  @include flex(center, space-between);
  border-top: 1px solid var(--accent-color);
  margin-top: $padding;
  padding-top: $padding;

  .#{$ns}-button {
    min-width: 44px;
  }
}

.no-matches {
  @include flex(center, center);
  @include sq-dimen(100%);
  text-align: center;

  :global {
    .message {
      @include ink-painting;
      font-size: 60px;
      margin-bottom: 30px;
    }
  }
}
