@import '~styles/scss';

.chat {
  @include fixed(null, 0, 0, 0);
  @include flex($flex-direction: column);
  @include sq-dimen(100%);
  max-width: 1278px;
  padding: 0;
}

.full-screen {
  @include margin-x(auto);
  max-height: calc(100% - #{$header-height});
  .chat-header {
    display: none;
  }
}

.bottom-right {
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  max-width: 400px;
  max-height: 600px;
  right: 15px;
  left: auto;

  .chat-header {
    cursor: pointer;
  }

  &.collapsed {
    transform: translateY(calc(100% - 50px));
  }
}

.chat-header {
  @include header;
  @include padding-x(20px);
  flex: 0 0 auto;
}

.chat-header-title {
  @include header-title;
  @include flex(center);
}

.chat-content {
  @include flex($flex-direction: column);
  @include sq-dimen(100%);
  @include padding-x(20px);
  background-color: var(--main-color);
  overflow: auto;

  // for firefox, since it ignore the scroll padding
  &:before,
  &:after {
    @include padding-y(10px);
    content: '';
  }
}

.chat-footer {
  flex: 0 0 auto;
  padding: 10px;
}

.unread {
  $size: 20px;
  @include sq-dimen($size);
  border-radius: 50%;
  background-color: $pt-intent-danger;
  font-size: 10px;
  line-height: $size;
  margin-top: 5px;
  margin-left: 5px;
  text-align: center;
}
