@import '~styles/scss';

.chat {
  @include fixed(null, 0, 0, 0);
  @include flex($flex-direction: column);
  @include sq-dimen(100%);
  max-width: 1278px;
  padding: 0;
  z-index: $pt-z-index-overlay;
}

.full-screen {
  @include margin-x(auto);
  max-height: calc(100% - #{$header-height});
  .chat-header {
    display: none;
  }
}

.bottom-right {
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  max-width: 400px;
  max-height: 600px;
  right: 15px;
  left: auto;

  .chat-header-toggle {
    @include absolute(0, 0, 0, 0);
    cursor: pointer;
  }

  &.collapsed {
    transform: translateY(calc(100% - 50px));
  }
}

.chat-header {
  @include relative();
  @include header;
  @include padding-x(20px);
  flex: 0 0 auto;
}

.chat-header-title {
  @include header-title;
  @include flex(center);
}

.chat-header-action {
  @include relative();
}

.chat-content {
  @include flex($flex-direction: column);
  @include sq-dimen(100%);
  @include padding-x(20px);
  background-color: var(--main-color);
  overflow: auto;

  // for firefox, since it ignore the scroll padding
  &:before,
  &:after {
    @include padding-y(10px);
    content: '';
  }
}

.chat-footer {
  @include flex(center);
  background-color: var(--main-diff1-color);
  flex: 0 0 auto;
  padding: 15px 10px 10px;

  .chat-input {
    @include flex(center, center);
    flex: 1 1 auto;
    margin-right: 10px;

    :global {
      .#{$ns}-input-group {
        @include margin-x(10px);
      }
    }
  }
}

.emoji-popover {
  :global {
    .#{$ns}-popover-content {
      // for loading
      @include dimen(338px, 355px);
    }

    .emoji-mart-category-label {
      margin-bottom: 5px;
    }
  }
}

.unread {
  $size: 20px;
  @include sq-dimen($size);
  border-radius: 50%;
  background-color: $pt-intent-danger;
  color: #fff;
  font-size: 10px;
  line-height: $size;
  margin-top: 5px;
  margin-left: 5px;
  text-align: center;
}
