@import '../../styles/scss/index';

.match {
  @include dimen(100%);
  @include flex($flex-direction: column);
  overflow: hidden;
}

.match-header {
  @include header;
  flex: 0 0 auto;
}

.match-header-title {
  @include header-title;
  text-align-last: center;
}

.match-content {
  @include sq-dimen(100%);
  flex: 1 1 auto;

  :global {
    .bgio-client {
      @include sq-dimen(100%);
    }
  }
}

.center-text {
  @include sq-dimen(100%);
  @include flex(center, center);
  @include ink-painting;
  font-size: 40px;
}
