.pos-input,
.min-max-input {
  @include flex(flex-end);

  .#{ns}-input-left-container {
    @include dimen(auto, 100%);
    @include flex(center);
  }

  > .#{ns}-numeric-input,
  > .#{ns}-input-group {
    &:nth-child(1) {
      margin-right: 5px;
    }
  }

  .rc-form-item {
    @include dimen(50%);
    + * {
      margin-left: 5px;
    }
  }

  button {
    align-self: flex-start;
  }
}

.control-input {
  .bp3-html-select {
    margin-bottom: 20px;
  }
}

.control-row {
  @include flex(flex-start);

  button {
    margin-left: 5px;
  }
}

.image-row {
  @include flex(center);

  + .image-row {
    margin-top: 10px;
  }

  button {
    margin-left: 5px;
  }
}

.chrome-picker {
  box-shadow: none !important;
}

.color-picker-button.color-picker-button {
  padding: 5px;

  div,
  span {
    @include flex();
    align-self: stretch;
    width: 100%;
  }
}

.color-pick-row {
  @include flex();

  .rc-form-item {
    + .rc-form-item {
      margin-left: 10px;
    }

    .rc-form-item-help {
      display: none;
    }
  }
}

.#{$ns}-control.#{$ns}-align-right {
  margin-right: 4.5px;
}
