.lobby {
  @include sq-dimen(100%);
}

.lobby-header {
  @include header();
}

.lobby-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

$padding: 10px;

.lobby-item {
  @include flex($flex-direction: column);
  padding-bottom: $padding;
}

.lobby-item-header {
  @include flex(center, space-between);

  .lobby-item-name {
    font-weight: bold;
    font-size: 16px;
  }
}

.lobby-item-description {
  color: var(--text-light-color);
  flex: 1 1 auto;
  margin-top: 5px;
  word-break: break-all;
}

.lobby-item-footer {
  @include flex(center, space-between);
  @include padding-x(5px);
  @include margin-x(-$padding);
  @include padding-x($padding);
  border-top: $divider;
  margin-top: $padding;
  padding-top: $padding;

  .#{$ns}-button {
    min-width: 44px;
  }
}
