.lobby {
  @include dimen(100%);
}

.lobby-header {
  @include header();

  .header-title {
    text-align: center;
  }
}

.lobby-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

$padding: 12.5px;

.lobby-item {
  @include flex($flex-direction: column);
  @include padding-y($padding);
  @include padding-x(20px);
}

.lobby-item-header {
  @include flex(center, space-between);

  .lobby-item-name {
    font-weight: bold;
    font-size: 16px;
  }
}

.lobby-item-description {
  color: var(--text-light-color);
  flex: 1 1 auto;
  margin-top: 5px;
  word-break: break-all;
}

.lobby-item-footer {
  @include flex(center, space-between);
  border-top: 1px solid var(--accent-color);
  margin-top: $padding;
  padding-top: $padding;

  .#{$ns}-button {
    min-width: 44px;
  }
}

.no-matches {
  @include flex(center, center);
  @include sq-dimen(100%);
  text-align: center;

  .message {
    @include ink-painting;
    font-size: 60px;
    margin-bottom: 30px;
  }
}
