$card-height: 120px;
$card-width: $card-height * 3/4;
$card-margin: 5px;
$grid-corner-size: $card-height + $card-margin * 2;
$grid-template: $grid-corner-size calc(100% - #{$grid-corner-size * 2})
  $grid-corner-size;

.big-two-board {
  &.ready {
    @include flex(center, center);
    @include sq-dimen(100%);
  }

  &.start {
    @include relative();
    @include sq-dimen(100%);
    display: grid;
    grid-template-rows: $grid-template;
    grid-template-columns: $grid-template;

    > * {
      //bottom
      &:nth-child(1) {
        grid-column: 2;
        grid-row: 3;
      }

      &.left {
        grid-column: 1;
        grid-row: 2;
      }

      &.top {
        grid-column: 2;
        grid-row: 1;
      }

      &.right {
        grid-column: 3;
        grid-row: 2;
      }

      &.center {
        grid-column: 2;
        grid-row: 2;
        text-align: center;

        &,
        .last-hand {
          @include flex(center, center);
        }

        .message {
          margin-top: 10px;
        }
      }

      &.my-deck,
      &.other-deck {
        .card {
          @include absolute();
          transform-origin: center bottom;
        }
      }

      &.my-deck {
        @include relative();

        .big-two-control {
          @include absolute(-15px);
          @include dimen(100%);
          @include flex(center, center);
          transform: translateY(-100%);

          button + button {
            margin-left: 10px;
          }
        }

        .cards {
          @include dimen(100%);
          margin: auto;
        }
      }

      &.other-deck {
        @include relative();

        &.top .cards {
          display: grid;
          grid-template-columns: repeat(13, calc(100% / 13));
          grid-template-rows: repeat(1, auto);
          justify-content: center;

          width: 100%;
          margin: auto;
          max-width: $card-width * 13 + 10 * 13;
        }

        .left,
        .right {
          .cards {
            display: grid;
            grid-template-columns: repeat(1, auto);
            grid-template-rows: repeat(13, calc(100% / 13));
            align-items: center;

            height: 100%;
            margin: auto;
            position: absolute;
            top: 0;
            bottom: 0;
          }
        }
      }
    }
  }
}

.local.big-two {
  @include sq-dimen(100%);
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}
