.center {
  align-items: center;

  .last-hand {
    display: flex;
    justify-content: center;
    perspective: 300px;

    .card {
      @include card-size(100px);

      transform: rotateX(30deg);
    }
  }

  .message {
    text-align: center;
  }
}
