*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
#root,
#app {
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

.debug-ui {
  z-index: 1000000000;
}
